<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>join</title>
<!--    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>-->
</head>
<body>
<h1>회원가입 페이지입니다</h1>
<h2>회원가입</h2>
<form action="/user/joinProc" method="post">
    name : <input type="text" name="name"/><br/>
    nickname : <input type="text" name="nickname"/><br/>
    username : <input type="text" name="username"/><br/>
    password : <input type="password" name="password"/><br/>
    email : <input type="text" name="email"/><br/>
<!--    role* : <input type="text" name="role" placeholder="USER"/><br/>-->
    <button type="submit">회원가입</button>
</form>
</body>
</html>